h1 {
    color: blue;
    font-size: x-large;
    text-align: center;
    border: 15px;
    padding: 15px;
}

button {
    color: orangered;
    text-align: center;
    font-size: larger;
    padding: 15 px;
    margin: auto;
    
}
img {
    padding-top: 15px;
}
